.kontodiv {
	width: 100%;
}

.aaa {
	margin-right: 35%;
	margin-left: 35%;
	width: 30%;
	text-align: center;
	font-size: 40px;
	margin-top:10px;
	margin-bottom:10px;
	cursor: pointer;
	border: 1px solid #57bea4;
	border-radius: 4px;
	background-color: #57bea4;
	color: #eeeeee;
	padding-bottom: 3px;
}

.aaa:hover {
	background-color: #eeeeee;
	color: #57bea4;
}

.in {
	text-align: center;
	margin-top: 5px;
	width: 30%;
	font-size: 30px;
	margin-left: 35%;
	margin-right: 35%;
	border-radius: 5px;
	border: 1px solid #57bea4;
}

.table{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	text-align:center;
}
.ueb{
	color:#57bea4;
	font-size: 40px;
	text-align: center;
}
.ueb2{
	font-size: 40px;
	text-align: center;
}
.haup{
	text-align:center;
	font-size:50px;
	margin-top:5px;
	margin-bottom:10px;
}
@media screen and (max-width: 450px) {
	.aaa{
		font-size: 30px;
	}
	.ueb2{
		font-size: 25px;
		text-align: center;
		margin-right: 10px;
		margin-left: 10px;
	}
	.ueb{
		color:#57bea4;
		font-size: 35px;
		text-align: center;
	}
	.haup{
		font-size:35px;
	}
	.in {
		margin-top: 5px;
		width: 80%;
		font-size: 30px;
		margin-left: 10%;
		margin-right: 10%;
		border-radius: 5px;
		border: 1px solid #57bea4;
	}
	.aaa {
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
}
}
