.maindiv{
	background-color:#eeeeee;
}
.entwdiv{
	border:3px solid #303030;
	background-color:#303030;
	color:#eeeeee;
	padding-bottom: 20px;
}
.vorschau{
	float:left;
	background-color:#303030;
	width:180px;
	height:180px;
	margin-left:5%;
	margin-right:50px;
	margin-top:20px;
}
.nentw{
	margin-top:10px;
	border:none;
	cursor:pointer;
	display:block;
	background-color:#57bea4;
	color:#eeeeee;
	border-radius:7px;
	font-size:40px;
	width: 40%;
	text-align:center;
	margin-left:30%;
	margin-right:30%;
	padding-bottom:5px;
}
.nentw:hover{
	background-color:#eeeeee;
	color:#57bea4;
	border:2px solid #57bea4;
}
@media screen and (max-width: 480px) {
	.entwdiv{
		border:3px solid #303030;
		background-color:#303030;
	}
	.nentw{
		width: 90%;
		margin-left:5%;
		margin-right:5%;
	}
}
@media screen and (max-width: 300px) {
	.entwdiv{
		border:3px solid #303030;
		background-color:#303030;
		color:#eeeeee;
	}
}

.dropd{
	border-radius:10px;
}
.drop:hover{
	background-color:#57bea4;	
	color:#eeeeee;
	border-radius:0px;
}
.drop:focus{
	background-color:#57bea4;	
	color:#eeeeee;
	border-radius:0px;
}

.dr{
	border-radius:10px;
}
.dr:hover{
	background-color:#57bea4;	
	color:#eeeeee;
}
.dr:focus{
	background-color:#57bea4;	
	color:#eeeeee;
}
.entwurf{
	padding-top: 20px;
	width: 250px;
	height: 200px;
	background-color:#eeeeee;
	margin-bottom: 80px;
}
