html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.helleSchrift {
    color: #eeeeee;
}

.dunkleSchrift {
    color: #303030;
}

.chennyFarbe {
    background-color: #57bea4;
}

.chennySchrift {
    color: #57bea4;
}


.cont {
    width: 100%;
    padding-bottom: 30px;
}

.ueber {
    font-family: ArialRoundedMTBold, "Arial Rounded MT Bold", "Varela Round", "Helvetica Rounded", Arial, sans-serif;
    font-size: 250%;
}

.anker {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.marg {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.w {
    text-align: center;
    width: 70%;
}

.auswahl {
    margin: 5px;
    font-size: 18pt;
    width: 60px;
    border-radius: 10px;
    background-color: #57bea4;
    border: 1px solid;
}

.auswahl:hover {
    background-color: #eeeeee;
    color: #303030;
}

.auswahl:focus {
    background-color: #303030;
    color: white;
}
.auswahl:visited {
    background-color: #303030;
    color: white;
}

.weiter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    font-size: 14pt;
    background-color: #303030;
    color: #eeeeee;
}

.weiter:hover {
    background-color: #57bea4;
    color: #303030;
}

.attribute {
    color: #eeeeee;
}

.pfeil {
    width: 50px;
    height: auto;
    display: block;
}

.pfeilSpiegel {
    width: 50px;
    height: auto;
    display: block;
    transform: rotate(180deg);
}


.namensfelder {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.weiter2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    font-size: 14pt;
    background-color: #57bea4;
    color: #eeeeee;
}

.weiter2:hover {
    background-color: #eeeeee;
    color: #303030;
}

.tabOwn {
    text-align: center;
}

#tabDiv {
    margin-left: 10%;
    margin-right: 10%;
}

#rowEins, #rowZwei, #rowDrei, #rowVier{
    margin-left: 10%;
    margin-right: 10%;
    color: #eeeeee;
}

#auflistungBeziehungen {
    margin-left: 10%;
    margin-right: 10%;
}

.attributAuswahl {
    width: 55px;
}

.zeilenUmbruchEntitaet {
    word-wrap: break-word;
}
